.topnav {
    background-color: #1D4368;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    padding: 10px 30px;
}

.topnav-link {
    /* border: 1px solid grey; */
    margin-right: 25px;
}

.topnav-link.active {
    font-weight: bold;
}