.topnav {
    background-color: #1D4368;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 10px 30px;
}

.topnav-link {
    /* border: 1px solid grey; */
    margin-right: 25px;
}

.topnav-link.active {
    font-weight: bold;
}

.dropdown-icon {
    display: none;
    cursor: pointer;
}

.topnav-dropdown {
    display: none;
    position: absolute;
    background-color: #1D4368;
    width: 50%;
    margin-top: 0px;
    padding: 0;
    flex-direction: column;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
    top: 75px;
}

.topnav-drop-link {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border: 0.2px solid #f7f7f7;
}

@media (max-width: 768px) {
    .topnav-left {
        display: none;
    }

    .topnav-dropdown {
        display: flex;
    }

    .dropdown-icon {
        display: block;
    }
}